.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width: 768px) {

 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  img{
    height: 100px;
  }

  h1{
    padding: 1rem;
    font-size: 2rem;
  }

  hr{
    display: none;
  }

  .row{
    margin: 0;
    width: 100%;
  }

  #lezioni .row,
  #why .row{
    background-color: #90c7c9 ;
  }

  #steps .row{
    background-color: rgb(241, 250, 199);
  }

  #lezioni .row>.left,
  #lezioni .row>.right{
    width: 100%;
  }

  #steps .row>.left,
  #steps .row>.right,
  #steps .row>.central{
    width: 50%;
  }

  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.right,
  #steps .row>.central,
  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
    font-size: 1rem;
    margin: 1rem 0;
  }

  #steps .row>.right{
    float: none;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  #why .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
    width: 33%;
  }

  #why .row h1{
    width: 100%;
  }

  #why .row img{
    padding: 20px;
  }
  
}

@media screen and (max-width: 420px) {

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  h1{
    padding-top: 0.5rem;
    font-size: 1.5rem;
  }

  img{
    height: 100px;
  }
  
  hr{
    display: block;
  }

  .row{
    margin: 0;
    width: 100%;
  }

  #lezioni .row,
  #why .row{
    background-color: #F2F2CD ;
  }

  #steps .row{
    background-color: rgb(255, 255, 255);
  }

  #lezioni .row>.left,
  #lezioni .row>.right,
  #steps .row>.left,
  #steps .row>.right,
  #steps .row>.central,
  #why .row>.first,
  #why .row>.second,
  #why .row>.third{
    width: 100%;
    font-size: 0.7rem;
    margin-top: 1rem;
    padding: 5px 8px;
  }

  #why .row img{
    padding: 20px;
  }
 
}

